table.downloads {
	margin: 1em;
	border: 3px solid #c3c3c3;
}

table.downloads td.download-name {
	width: 50%;
}

table.downloads td.download-version {
	text-align: center;
	width: 100%;
	color: gray;
}

table.downloads td.download-link {
	padding: 0 1em 0 1em;
}
