ul.menu {
	float: left;
	padding: 0;
	margin: 0 5% 0 0;
	width: 150px;
}

ul.menu li.menu_top {
	padding: 0;
	margin: 0;
	width: 150px;
	height: 110px;
	background-image: url(/images/menu_top.png);
	background-repeat: no-repeat;
}

ul.menu li.menu_middle {
	padding: 0;
	margin: 0;
	width: 150px;
	list-style: none;
	background-image: url(/images/menu_right.png);
	background-repeat: repeat-y;
	background-position: top right;
	background-color: white;
}

ul.menu li.menu_bottom {
	padding: 0;
	margin: 0;
	width: 150px;
	height: 113px;
	background-image: url(/images/menu_bottom.png);
	background-repeat: no-repeat;
}

ul.menu_contents {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu_contents li.menu_item {
	margin: 0;
	padding: 0.25em 0 0.25em 0.5em;
}

ul.menu_contents a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

ul.menu_contents a:hover {
	color: #bd0000;
	font-weight: bold;
	text-decoration: none;
}
