body {
	margin: 0;
	padding: 0;
}

#banner {
	display: none;
}

ul.menu {
	display: none;
}

#content {
	clear: both;
	width: 90%;
	border: none;
}

#content h1.section {
	color: black;
}

#content div.note {
	border: 1px dashed black;
}

#content div.warning {
	border: 1px dashed black;
}

#content pre.code {
	border: 1px solid black;
}

#content pre.shell {
	border: 1px solid black;
}

#footer {
	float: center;
	clear: both;
	list-style: none;
}

#footer_left {
	display: none;
}

#footer_middle {
	text-align: center;
}

#footer_right {
	display: none;
}
