@media print {
	body {
		margin: 0;
		padding: 0;
	}

	#banner {
		display: none;
	}

	ul.menu {
		display: none;
	}

	#content {
		clear: both;
		width: 90%;
		border: none;
	}

	#content h1.section {
		color: black;
	}

	#content div.note {
		border: 1px dashed black;
	}

	#content div.warning {
		border: 1px dashed black;
	}

	#content pre.code {
		border: 1px solid black;
	}

	#content pre.shell {
		border: 1px solid black;
	}

	#footer {
		float: center;
		clear: both;
		list-style: none;
	}

	#footer_left {
		display: none;
	}

	#footer_middle {
		text-align: center;
	}

	#footer_right {
		display: none;
	}
}

/* @group Common */

body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
}

a {
	color: black;
	border: none;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

kbd {
	font-size: 1.15em;
}

img {
	border: none;
}

span.underlined {
	text-decoration: underline;
}

#logo {
	z-index: 1;
}

#content {
}

#content ul {
	margin-left: 1em;
	padding: 0;
	list-style: none;
}

#content li {
	margin-left: 1em;
	padding: 0.5em 0 0.5em 0;
}

#content a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#content a:hover {
	color: #bd0000;
}

#content blockquote {
	margin: 1em 2em 1em 2em;
	padding: 0 1em 0 1em;
	background-color: #c3c3c3;
	border: 2px solid gray;
}

#content code {
	font-family: monospace;
}

#content pre {
	margin: 10px 0;
	padding: 0.5em;
	background-color: #2d2d2d;
	color: white;
	white-space: pre;
	overflow: auto;
	border: 1px solid #000;
}

#content div.note {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #a8ffa8;
	border: 10px solid black;
}

#content div.warning {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #ffa8a8;
	border: 10px solid black;
}

#content div.footnote {
	clear: right;
	margin: 0.6em;
	padding: 0.6em;
	color: gray;
	font-size: 0.8em;
	font-weight: normal;
}

#content hr {
	height: 2px;
	background-color: black;
	border: none;
}

/* @end */



/* @group Helpers */

.right{
	float: right !important;
}

.shadow {
  -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.shadow-in {
  -webkit-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 10px rgba(0,0,0,0.2);
}

.shadow-light{
  -webkit-box-shadow: inset 0px 1px 10px #fbfbfb;
  -moz-box-shadow: inset 0px 1px 10px #fbfbfb;
  box-shadow: inset 0px 1px 10px #fbfbfb;	
}

.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.round-with-tabs{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.round_top {
   -moz-border-radius-topright: 5px;
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -webkit-border-top-left-radius: 5px;
}

.round_bottom {
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.round_right{
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;	
   -moz-border-radius-topright: 5px;    
   -webkit-border-top-right-radius: 5px;    
}

.round_left{
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-bottomleft: 5px;
   
   -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
}

/* @end */

/* @group Main */

body {
	background: #515151 url(/images/background.png) repeat right;
	font-family: sans-serif;
	font-size: 0.9em;
}

#banner_flowers {
	float: right;
	margin: 0 15% 0 0;
}

#content span.history {
	float: right;
}

/* @end */

/* @group Headings */

#content h1 {
	width: 100%;
	margin: 0 0 10px;
	border-bottom: 1px solid #c3c3c3;
	color: #bd0000;
	font: 1.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content h2 {
	width: 100%;
	margin: 0 0 10px;
	border-bottom: 1px solid #c3c3c3;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	padding-bottom: 10px;
	display: block;
	position: relative;
	overflow: hidden;
}

#content h3 {
	width: 100%;
	margin: 0 0 0.3em 0;
	border-bottom: 2px solid #c3c3c3;
	color: black;
	font-size: 1.2em;
}

/* @end */

/* @group Header */

#banner {
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 20px;
}

#banner .inside{
	width: 978px;
	display: block;
	position: relative;
	overflow: visible;
	margin: auto;
}

#logo {
	background: url(../images/logo.png) no-repeat center center;
	width: 271px;
	height: 110px;
	position: relative;
	display: block;
	overflow: hidden;
}

#logo a{
	position: relative;
	display: block;
	overflow: hidden;
	width: 271px;
	height: 110px;
	text-indent: -9999em;
}

/* @end */

/* @group Menu */

ul#menu {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	height: 190px;
	line-height: 190px;
	border-style: none;
	list-style-type: none;
	width: 490px;
}

ul#menu li{
	float: left;
	margin-right: 15px;
}

ul#menu li a{
	color: #fffeff;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.0em;
}

ul#menu li a:hover{
	color: #cd1813;
}

/* @end */

/* @group Content */

#page {
	margin: auto;
	width: 960px;
	display: block;
	position: relative;
	overflow: hidden;
	border: 10px solid #1e1e1e;
}

#content {
	color: black;
	background-color: white;
	display: block;
	position: relative;
	overflow: hidden;
	padding: 10px;
	border: 1px solid #000;
}

#content span.history {
	float: right;
}

/* @end */

/* @group Footer */

#footer {
	color: gray;
	text-align: center;
	font-size: x-small;
	list-style: none;
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 25px;
	text-shadow: #2c2c2c 0 1px 0;
}

#footer a {
	color: #a0a0a0;
}

/* @end */
