@media print {
	body {
		margin: 0;
		padding: 0;
	}

	#banner {
		display: none;
	}

	ul.menu {
		display: none;
	}

	#content {
		clear: both;
		width: 90%;
		border: none;
	}

	#content h1.section {
		color: black;
	}

	#content div.note {
		border: 1px dashed black;
	}

	#content div.warning {
		border: 1px dashed black;
	}

	#content pre.code {
		border: 1px solid black;
	}

	#content pre.shell {
		border: 1px solid black;
	}

	#footer {
		float: center;
		clear: both;
		list-style: none;
	}

	#footer_left {
		display: none;
	}

	#footer_middle {
		text-align: center;
	}

	#footer_right {
		display: none;
	}
}

/* @group Common */

body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
}

a {
	color: black;
	border: none;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

kbd {
	font-size: 1.15em;
}

img {
	border: none;
}

span.underlined {
	text-decoration: underline;
}

#logo {
	z-index: 1;
}

#content {
}

#content ul {
	margin-left: 1em;
	padding: 0;
	list-style: none;
}

#content li {
	margin-left: 1em;
	padding: 0.5em 0 0.5em 0;
}

#content a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#content a:hover {
	color: #bd0000;
}

#content blockquote {
	margin: 1em 2em 1em 2em;
	padding: 0 1em 0 1em;
	background-color: #c3c3c3;
	border: 2px solid gray;
}

#content code {
	font-family: monospace;
}

#content pre {
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	background-color: black;
	color: white;
	white-space: pre;
	overflow: auto;
}

#content div.note {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #a8ffa8;
	border: 10px solid black;
}

#content div.warning {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #ffa8a8;
	border: 10px solid black;
}

#content div.footnote {
	clear: right;
	margin: 0.6em;
	padding: 0.6em;
	color: gray;
	font-size: 0.8em;
	font-weight: normal;
}

#content hr {
	height: 2px;
	background-color: black;
	border: none;
}

/* @end */

/* @group Main */

body {
	background: #515151 url(/images/background.png) repeat right;
	font-family: sans-serif;
	font-size: 0.9em;
}

#page {
	display: block;
	position: relative;
	overflow: hidden;
}

#banner_flowers {
	float: right;
	margin: 0 15% 0 0;
}

#content {
	width: 960px;
	color: black;
	background-color: white;
	border: 10px solid #1e1e1e;
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto;
	padding: 10px;
}

#content span.history {
	float: right;
}

/* @end */

/* @group Headings */

#content h1 {
	width: 100%;
	margin: 0 0 0.3em 0;
	border-bottom: 2px solid #c3c3c3;
	color: #bd0000;
	font-size: 1.6em;
}

#content h2 {
	width: 100%;
	margin: 0 0 0.3em 0;
	border-bottom: 2px solid #c3c3c3;
	color: black;
	font-size: 1.2em;
}

#content h3 {
	width: 100%;
	margin: 0 0 0.3em 0;
	border-bottom: 2px solid #c3c3c3;
	color: black;
	font-size: 1.2em;
}

/* @end */

/* @group Header */

#banner {
	height: 180px;
}

#banner .inside{
	width: 960px;
	display: block;
	position: relative;
	overflow: visible;
	margin: auto;
}

#logo {
	clear: both;
	margin: 40px;
}

/* @end */

/* @group Menu */

ul.menu {
	padding: 0;
	margin: 0 5% 0 0;
	width: 150px;
}

/* @end */

/* @group Content */

#page {
	display: block;
	position: relative;
	overflow: hidden;
}

#content {
	width: 960px;
	color: black;
	background-color: white;
	border: 10px solid #1e1e1e;
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto;
	padding: 10px;
}

#content span.history {
	float: right;
}

/* @end */

/* @group Footer */

#footer {
	color: gray;
	text-align: center;
	font-size: x-small;
	list-style: none;
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer a {
	color: gray;
}

/* @end */
