#console_container {
	float: left;
	margin: 0 20% 0 20%;
	padding: 1em;
	width: 60%;
	z-index: 10000;
	background-color: white;
	color: black;
	font-family: Helvetica;
	font-size: 0.8em;
}

#console_title {
	font-weight: bold;
}

#console_content {
	background-color: black;
}

.ui-tabs-hide {
	display: none;
}

.ui-tabs-nav {
	float: right;
	margin: 0;
	padding: 0.5em 0 0 0.5em;
	list-style: none;
}

.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

.ui-tabs-nav li {
	float: left;
	margin: 0 0 0 2px;
	font-weight: bold;
}

.ui-tabs-nav a {
	float: left; /* fixes dir=ltr problem and other quirks IE */
	margin-left: 1em;
	margin-right: 1em;
	color: white;
	text-decoration: none;
}

.ui-tabs-nav a span {
	float: left; /* fixes dir=ltr problem and other quirks IE */
}

.ui-tabs-nav .ui-tabs-selected a {
	text-decoration: underline;
	border-bottom: 2px solid white;
}

div.console_tab {
	clear: right;
	margin: 0;
	padding: 0 1em 1em 1em;
}

div.console_tab h2 {
	color: white;
	font-weight: bold;
}

div.console_tab a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted gray;
}

div.console_tab a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
}

div.console_tab button {
	color: white;
	background-color: black;
	border: 2px solid white;
}

div.console_dialogue {
	margin: 0;
	padding: 1em;
	background-color: #c3c3c3;
}

.terminal_textarea {
	padding: 0.125em;
	width: 100%;
	color: white;
	font-family: monospace;
	font-size: 1.2em;
	background-color: black;
	border: 2px solid white;
}

textarea.terminal_textarea {
	height: auto;
	margin: 0 0 0.5em 0;
}

input.terminal_textarea {
	margin: 0.5em 0 0 0;
}
