---
layout: default
title: Downloads
css:
 - downloads.css
---

<h1>Downloads</h1>

<h2>Libraries</h2>

<table class="downloads">
  {% for library in site.libraries %}
  {% if library[1].dev != true %}
  <tr>
    <td class="download-name">
      <a href="https://rubygems.org/gems/{{ library[0] }}">{{ library[0] }}</a>
    </td>

    <td class="download-version">
      <span>{{ library[1].version }}</span>
    </div>

    <td class="download-link">
      <a href="https://github.com/ronin-rb/{{ library[0] }}/tarball/v{{ library[1].version }}">tar.gz</a>
    </td>

    <td class="download-link">
      <a href="https://github.com/ronin-rb/{{ library[0] }}/zipball/v{{ library[1].version }}">zip</a>
    </td>

    <td class="download-link">
      <a href="https://rubygems.org/downloads/{{ library[0] }}-{{ library[1].version }}.gem">gem</a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
