---
layout: default
title: Downloads
css:
 - downloads.css
---

<h1>Downloads</h1>

<h2>Libraries</h2>

<table class="downloads">
  {% for library in site.libraries %}
  {% if library[1].dev != true %}
  <tr>
    <td class="download-name">
      <a href="https://rubygems.org/gems/{{ library[0] }}">{{ library[1].name }}</a>
    </td>

    <td class="download-version">
      <span>{{ library[1].version }}</span>
    </div>

    <td class="download-link">
      <a href="https://github.com/ronin-ruby/{{ library[0] }}/tarball/v{{ library[1].version }}">tar.gz</a>
    </td>

    <td class="download-link">
      <a href="https://github.com/ronin-ruby/{{ library[0] }}/zipball/v{{ library[1].version }}">zip</a>
    </td>

    <td class="download-link">
      <a href="https://rubygems.org/downloads/{{ library[0] }}-{{ library[1].version }}.gem">gem</a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<h2>Ronin PHP-RPC Server (AJAX)</h2>

<ul>
  <li>
    <a href="https://github.com/ronin-ruby/ronin-php/raw/master/data/ronin/php/rpc/server.ajax.php">Edge</a>
  </li>

  <li>
    <a href="https://github.com/downloads/ronin-ruby/ronin-php/server-0.1.4.ajax.php">0.1.4</a>
  </li>

  <li>
    <a href="https://github.com/downloads/ronin-ruby/ronin-php/server-0.1.3.ajax.php">0.1.3</a>
  </li>
</ul>

<h2>Ronin PHP-RPC Server (Standalone)</h2>

<ul>
  <li>
    <a href="https://github.com/ronin-ruby/ronin-php/raw/master/data/ronin/php/rpc/server.php">Edge</a>
  </li>

  <li>
    <a href="https://github.com/downloads/ronin-ruby/ronin-php/server-0.1.4.php">0.1.4</a>
  </li>

  <li>
    <a href="https://github.com/downloads/ronin-ruby/ronin-php/server-0.1.3.php">0.1.3</a>
  </li>
</ul>
