---
layout: default
title: Downloads
css:
 - downloads.css
---

<h1>Downloads</h1>

<h2>Libraries</h2>

<table class="downloads">
  {% for library in site.libraries %}
  {% if library.dev != true %}
  <tr>
    <td class="download-name">
      <a href="https://rubygems.org/gems/{{ library.slug }}">{{ library.name }}</a>
    </td>

    <td class="download-version">
      <span>{{ library.version }}</span>
    </div>

    <td class="download-link">
      <a href="https://github.com/ronin-ruby/{{ library.slug }}/tarball/{{ library.version }}">tar.gz</a>
    </td>

    <td class="download-link">
      <a href="https://github.com/ronin-ruby/{{ library.slug }}/zipball/{{ library.version }}">zip</a>
    </td>

    <td class="download-link">
      <a href="https://rubygems.org/downloads/{{ library.slug }}-{{ library.version }}.gem">gem</a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<h2>Ronin PHP</h2>

<table class="downloads">
  <tr>
    <td class="download-name">
      <b>RFI Test Script</b>
    </td>

    <td class="download-version">
      <span>Edge</span>
    </td>

    <td class="download-link">
      <a href="downloads/php/rfi/test.php">test.php</a>
    </td>
  </tr>

  <tr>
    <td class="download-name">
      <b>PHP Backdoor</b>
    </td>

    <td class="download-version">
      <span>Edge</span>
    </td>

    <td class="download-link">
      <a href="downloads/php/rfi/backdoor.php">backdoor.php</a>
    </td>
  </tr>

  <tr>
    <td class="download-name">
      <b>PHP-RPC Server (Standalone)</b>
    </td>

    <td class="download-version">
      <span>Edge</span>
    </td>

    <td class="download-link">
      <a href="php/rpc/server.php">server.php</a>
    </td>
  </tr>

  <tr>
    <td class="download-name">
      <b>PHP-RPC Server (AJAX)</b>
    </td>

    <td class="download-version">
      <span>Edge</span>
    </td>

    <td class="download-link">
      <a href="php/rpc/server.ajax.php">server.ajax.php</a>
    </td>
  </tr>
</table>
