
        <p>
        Ronin is a Ruby platform for exploit development and security
        research. Ronin allows for the rapid development and distribution of
        code, exploits or payloads over many common Source-Code-Management
        (SCM) systems.
        </p>

        <h2 class="subsection"><a name="ruby">Ruby</a></h2>

        <p>
        Ronins Ruby environment allows security researchers to leverage Ruby
        with ease. The Ruby environment contains a multitude of
        <a href="/resources/everyday_ronin.html">convenience methods</a> for
        working with data in Ruby, a Ruby
        <a href="http://datamapper.github.com/">Object Database</a>, a
        customized Ruby Console and an extendable
        <a href="#synopsis">command-line interface</a>.
        </p>

        <h2 class="subsection"><a name="extend">Extend</a></h2>

        <p>
        Ronin's more specialized features are provided by additional Ronin
        libraries, which users can choose to install.
        These libraries can allow one to
        write and run <a href="/exploits/index.html#features">Exploits and Payloads</a>,
        scan for <a href="/php/index.html#features">PHP vulnerabilities</a>,
        perform <a href="/dorks/index.html#features">Google <tm /> Dorks</a>
        or run <a href="/scanners/index.html#features">3rd party scanners</a>.
        </p>

        <h2 class="subsection"><a name="publish">Publish</a></h2>

        <p>
        Ronin allows users to publish and share code, exploits, payloads or
        other data via <a href="/faq.html#platform">Overlays</a>. Overlays
        are directories of code and data that can be hosted on any
        <a href="http://subversion.tigris.org/">SVN</a>,
        <a href="http://mercurial.selenic.com/wiki/">Hg</a>,
        <a href="http://git-scm.com/">Git</a>
        or <a href="http://www.samba.org/rsync/">Rsync</a> server. Ronin
        makes it easy to create, install or update Overlays.
        </p>
