
      <ul class="menu">
        <li class="menu_top"/>
        <li class="menu_middle">
          <ul class="menu_contents">
            <li class="menu_item"><a href="/">About</a></li>
            <li class="menu_item"><a href="/faq.html">FAQ</a></li>
            <li class="menu_item"><a href="http://rubyforge.org/frs/?group_id=3798">Download</a></li>
            <li class="menu_item"><a href="/blog/">Blog</a></li>
            <li class="menu_item"><a href="/resources/">Resources</a></li>
            <li class="menu_item"><a href="/contribute/">Contribute</a></li>
            <li class="menu_item"><a href="/contact.html">Contact</a></li>
          </ul>
        </li>
        <li class="menu_bottom"/>
      </ul>
