auto: true
server: true
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
highlighter: rouge

gist:
  noscript: false

lsi: false
safe: true
incremental: false
permalink: date

exclude:
  - Rakefile

discord_link: https://discord.gg/6WAb3PsVX9

libraries:
  ronin:
    version: 2.0.4
    description: A Ruby toolkit for security research and development.

  ronin-support:
    version: 1.0.3
    description: A support library for Ronin.

  ronin-core:
    version: 0.1.2
    description: A core library for all ronin libraries.

  ronin-repos:
    version: 0.1.1
    description: Third-party git repository support for ronin.

  ronin-db-activerecord:
    version: 0.1.2
    description: ActiveRecord backend for the Ronin Database.

  ronin-db:
    version: 0.1.2
    description:
      A common database library for managing and querying security data.

  ronin-web-server:
    version: 0.1.1
    description: A custom Ruby web server based on Sinatra.

  ronin-web-spider:
    version: 0.1.0
    description: A collection of common web spidering routines.

  ronin-web-user_agents:
    version: 0.1.0
    description: Generates random but realistic User-Agent strings.

  ronin-web:
    version: 1.0.2
    description: A collection of common web security commands and libraries.

  ronin-code-asm:
    version: 1.0.0
    description: A Ruby DSL for crafting Assmebly programs and Shellcode.

  ronin-code-sql:
    version: 2.1.0
    description: A Ruby DSL for crafting SQL Injections.

  ronin-post_ex:
    version: 0.1.0
    description: Ruby API for Post-Exploitation.

  ronin-payloads:
    version: 0.1.3
    description:
      A Ruby micro-framework for writing and running exploit payloads.

  ronin-vulns:
    version: 0.1.3
    description:
      Tests URLs for Local File Inclusion (LFI), Remote File Inclusion (RFI),
      SQL injection (SQLi), Cross Site Scripting (XSS), Server Side Template
      Injection (SSTI), and Open Redirects.

  ronin-exploits:
    version: 1.0.2
    description:
      A Ruby micro-framework for writing and running exploits and payloads.

  ronin-fuzzer:
    version: 0.1.0
    description: A highly configurable fuzzing library and CLI for Ruby.
