<footer>
  <p>
  <a href="/blog/">Blog</a> |
  <a href="http://twitter.com/ronin_ruby" title="@ronin_ruby">Twitter</a> |
  <a href="http://reddit.com/r/ronin_ruby" title="/r/ronin_ruby">Reddit</a> |
  <a href="/irc/" title="#ronin irc.freenode.net">IRC</a> |
  <a href="http://groups.google.com/group/ronin-ruby" title="ronin-ruby@googlegroups.com">Mailing List</a> |
  <a href="https://github.com/ronin-ruby/">GitHub</a>
  </p>

  <p>
  <a href="https://github.com/ronin-ruby/ronin-ruby.github.io#readme">Community Mantained</a>,
  web design by <a href="mailto:postmodern.mod3 at gmail.com">Postmodern</a>.
  </p>

  <p>Copyright &#169; 2008-2013 Hal Brodigan.</p>
</footer>
