body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
}

a {
	color: black;
	border: none;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

kbd {
	font-size: 1.15em;
}

img {
	border: none;
}

span.underlined {
	text-decoration: underline;
}

#logo {
	z-index: 1;
}

#content {
}

#content ul {
	margin-left: 1em;
	padding: 0;
	list-style: none;
}

#content li {
	margin-left: 1em;
	padding: 0.5em 0 0.5em 0;
}

#content a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#content a:hover {
	color: #bd0000;
}

#content blockquote.quote {
	color: gray;
}

#content blockquote.quote-from {
	font-style: italic;
}

#content code {
	font-family: monospace;
}

#content pre {
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	background-color: black;
	color: white;
	white-space: pre;
	overflow: auto;
}

#content div.note {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #a8ffa8;
	border: 10px solid black;
}

#content div.warning {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	color: black;
	background-color: #ffa8a8;
	border: 10px solid black;
}

#content div.footnote {
	clear: right;
	margin: 0.6em;
	padding: 0.6em;
	color: gray;
	font-size: 0.8em;
	font-weight: normal;
}
