#downloads {
	margin: 1em 2em 1em 2em;
	border: 1px solid #c3c3c3;
}

#downloads tr {
	border-bottom: 1px solid #c3c3c3;
}

#downloads td.download-name {
	width: 100%;
	font-weight: bold;
}

#downloads td.download-link {
	padding: 0 1em 0 1em;
	border-left: 1px solid #c3c3c3;
}
