#downloads {
	margin: 1em 2em 1em 2em;
	border: 3px solid #c3c3c3;
}

#downloads td.download-name {
	width: 100%;
}

td.download-name span.version {
	color: gray;
	margin-left: 0.25em;
}

#downloads td.download-link {
	padding: 0 1em 0 1em;
}
