#downloads {
	margin: 1em;
	border: 3px solid #c3c3c3;
}

#downloads td.download-name {
	width: 30%;
}

#downloads td.download-version {
	width: 100%;
	color: gray;
}

#downloads td.download-link {
	padding: 0 1em 0 1em;
}
