---
layout: default
title: Examples
feed: /examples/atom.xml
css:
 - examples.css
---

<a class="feed" href="{{ page.feed }}">{% include images/feed.svg %}</a>
<h1>Ronin Examples</h1>

<ul id="examples">
{% for example in site.categories.examples %}
  <li class="example">
  {{ example.content }}

    <p class="example-categories">
    {% for category in example.categories offset:1 limit:1 %}
    Category: <a href="/examples/{{ category }}/">{{ category }}</a>
    {% endfor %}
    </p>
  </li>
{% endfor %}
</ul>
