---
layout: page
title: Developer Blog
feed: /blog/atom.xml
---

<nav class="page-links">
  <a class="button" href="{{ page.feed }}" title="Atom feed">
    {% include images/feed.svg %}
  </a>
</nav>

<h1>Recent Posts</h1>

<hr/>

{% for post in site.categories.blog offset:0 limit:5 %}
<div>
  <article class="blog-post">
    <p>
      <a href="{{ post.url }}">{{ post.title }}</a><br />
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }} &mdash; {{ post.author }}</time>
    </p>
  </article>
  <hr/>
</div>
{% endfor %}

<p><a href="archive.html">Older Posts</a></p>
