#top-bar {
    display: none;
}

#ruby-logo {
    width: 7%;
    height: 7%;
    float: right;
}

#social-media-links svg {
    display: none;
}

img {
    width: 20%;
    height: 20%;
}

footer.footer {
    display: none;
}

#feed-icon {
    width: 5%;
    height: 5%;
    float: right;
}

svg {
    width: 10%;
    height: 10%;
}

/* terminal svg's */
object.demo {
    width: 60%;
    height: 60%;
}

article.post .post-links {
    display: none;
}