/*
 * IE fixes provided by evoltech.
 */
#content {
  position: relative;
  top: -420px;
}

/* There is no :last-child pseudo class for ie7 */
/*
ul.menu_contents li:last-child {
  padding: 0.25em 0 0 0.5em;
}
*/
