<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
    <title>Ronin - {{ page.title }}</title>

    {% if page.feed != null %}
    <link rel="alternate" type="application/atom+xml" title="{{page.title }} Feed" href="{{ page.feed }}" />
    {% else %}
    <link rel="alternate" type="application/atom+xml" title="Ronin Blog Feed" href="/blog/atom.xml" />
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/page.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css"/>

    {% if page.css != null %}
    {% for css in page.css %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/{{ css }}" />
    {% endfor %}
    {% endif %}
    <!--[if IE]><link rel="stylesheet" type="text/css" media="screen" href="/css/ie/page.css"/><![endif]-->

    {% if page.js != %}
    {% for js in page.js %}
    <script type="text/javascript" src="/js/{{ js }}" /></script>
    {% endfor %}
    {% endif %}

    {% include analytics.html %}
  </head>

  <body>
    {% include header.html %}
    <div id="page">
      {% include menu.html %}
      <div id="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
