<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta name="charset" value="utf-8" />

    {% if page.title %}
    <title>{{ page.title }} | Ronin</title>
    {% else %}
    <title>Ronin</title>
    {% endif %}

    {% if page.feed != null %}
    <link rel="alternate" type="application/atom+xml" title="{{page.title }} feed" href="{{ page.feed }}" />
    {% else %}
    <link rel="alternate" type="application/atom+xml" title="ronin-rb blog feed" href="/blog/atom.xml" />
    {% endif %}

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/syntax_highlighting.css" />

    {% if page.css != null %}
    {% for css in page.css %}
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/{{ css }}" />
    {% endfor %}
    {% endif %}

    {% if page.js != null %}
    {% for js in page.js %}
    <script type="text/javascript" src="/javascript/{{ js }}" /></script>
    {% endfor %}
    {% endif %}

    {% include analytics.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
