---
layout: page
feed: /blog/atom.xml
css:
 - post.css
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-info">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>&nbsp;&mdash;&nbsp;{{ page.author }}
  </p>

  <section class="post-content">
    {{ content }}

    {% include donate.html %}
  </section>

  <p class="post-links">
    <a class="button" href="http://www.reddit.com/submit?url=https://ronin-rb.dev{{ page.url | uri_escape }}&title={{ page.title | uri_escape }}" title="Share on Reddit">
      {% include images/reddit.svg %}
    </a>

    <a class="button" href="https://news.ycombinator.com/submitlink?u=https://ronin-rb.dev{{ page.url | uri_escape }}&t={{ page.title | uri_escape }}" title="Share on HackerNews">
      {% include images/hackernews.svg %}
    </a>

    <a class="button" href="https://lobste.rs/stories/new?url=https://ronin-rb.dev{{ page.url | uri_escape }}" title="Share on Lobste.rs">
      {% include images/lobsters.svg %}
    </a>
  </div>
</article>
