<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="refresh" content="5;url={{ page.redirect }}" />

    <title>Ronin - {{ page.title }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />

    {% include analytics.html %}
    <script type="text/javascript">
      setTimeout(function() {
        document.location = "{{ page.redirect }}";
      }, 3000);
    </script>
  </head>

  <body>
    {% include header.html %}

    <div id="page" class="container">
      <div id="content">
        <h1>Page Moved</h1>

        <p>
          <strong>{{ page.title }}</strong> has moved.
          You will be redirected shortly.
        </p>

        <p>
          If you are not redirected properly, please
          <a href="{{ page.redirect }}">click here</a>.
        </p>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
