div.ohloh {
}

div.ohloh > img {
}

div.ohloh > div.legend {
}

div.ohloh > div.legend > span.key {
  margin: 0 1em 0 0;
}

div.ohloh > div.legend > span.key > span.swatch {
  width: 1em;
  height: 1em;
  padding: 0 0.5em 0 0;
}
