@import url("/css/common.css");

body {
	background: url("/images/slideshow/diamond_edge.png") repeat-y top right;
}

#logo {
	float: right;
	margin-top: -40px;
}

#slideshow {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border-top: 50px solid black;
	font: 170% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#slides {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 50px;
	margin: 0;
	padding: 10px;
	width: 150px;
	display: none;
	white-space: nowrap;
	overflow: auto;
	list-style: decimal inside;
	color: black;
	border-right: 10px solid black;
}

#slides > li {
	margin: 0;
	padding: 0;
	font-size: 70%;
}

#slides > li > a {
	font-weight: bold;
}

#slides > li > a:hover {
	color: #bd0000;
	text-decoration: none;
}

#content {
	position: fixed;
	top: 60px;
	left: 180px;
	right: 140px;
	padding: 25px;
	overflow: auto;
}

#content > div.slide {
	display: none;
}

#content > div.slide > img {
	display: block;
  margin: 0 0 0 30px;
  border: 20px solid black;
}

#content > div.slide > ul > li {
  padding: 0.0125em;
}

#content > div.slide > pre.code {
  padding: 1em;
}

#content > div.slide > pre.shell {
  padding: 1em;
}

#content > div.slide > div.notes {
	display: none;
}

#slideshow_notes {
	position: fixed;
	bottom: 60px;
	left: 200px;
	width: 50%;
	height: 100px;
	margin: 0;
	padding: 5px;
	display: none;
	color: black;
	background-color: white;
	border: 10px solid black;
	overflow: auto;
	z-index: 1;
}

#slideshow_controls {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	clear: both;
	color: white;
	background-color: black;
	text-align: center;
	z-index: 1;
}
